p {
    font-family: 'Merriweather', serif;
 }

 body {
    animation: pulse 10s infinite;
  }
  
  @keyframes pulse {
    0% {
      background-color: lightblue;
    }
    45% {
      background-color: lightseagreen;
    }
    90% {
        background-color: lightskyblue;
    }
    100% {
      background-color: lightblue;
    }
  }