h1 {
  font-family: 'Merriweather', serif;
}

h2 {
  font-family: 'Merriweather', serif;
}

h3 {
    font-family: 'Merriweather', serif;
 }

 h4 {
  font-family: 'Merriweather', serif;
}

 p {
  font-family: 'Merriweather', serif;
}

li {
  font-family: 'Merriweather', serif;
}

p {
  font-family: 'Merriweather', serif;
}

 i {
   margin-right: 10px;
 }

 body {
    animation: pulse 10s infinite;
  }
  
  @keyframes pulse {
    0% {
      background-color: lightblue;
    }
    45% {
      background-color: lightseagreen;
    }
    90% {
        background-color: lightskyblue;
    }
    100% {
      background-color: lightblue;
    }
  }

  .navbar {
    margin-bottom: 60px;
  }

  .social-link{
    margin-right: 10px;
  }

  .footer {
    margin-top: 90px;
  }
  