p {
    font-family: 'Merriweather', serif;
 }

 i {
   margin-right: 10px;
 }

 body {
    animation: pulse 10s infinite;
  }
  
  @keyframes pulse {
    0% {
      background-color: lightblue;
    }
    45% {
      background-color: lightseagreen;
    }
    90% {
        background-color: lightskyblue;
    }
    100% {
      background-color: lightblue;
    }
  }

  .navbar {
    margin-bottom: 60px;
  }

  .social-link{
    margin-right: 10px;
  }

  .footer {
    margin-top: 90px;
  }
  